body {
    background-color: rgb(196, 230, 173);
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin:0;
  }
  h1 {
    font-weight:bold;
    text-align: center;
    display: flex;
    line-height:0%;
    flex-direction: column;
    margin-top: 100px;
  }
  h2 {
    color: rgb(0, 0, 0);
    font-weight:normal;
    position: fixed;
    display: flex;
    line-height:0%;
    flex-direction: column;
    margin-left: 10px;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(13, 150, 160);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .container {
    display: grid;
    padding-bottom: 50px;
  }
  .itemH { 
      color: black;
      text-align: center;
      font-size: 150%;
      font-weight: bold;
      padding-top: 35px;
      margin-left: 30px;
      margin-right: 30px;
    }
    .itemP {
        color: black;
      text-align: left;
      font-size: 100%;
      padding-top: 15px;
      margin-left: 30px;
      margin-right: 30px;
    }
    iframe {
        padding-top: 75px;
        display: block;
        margin: 0 auto;
     }
     .profileContainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        padding: 75px;
        gap: 10px;
      }
      .profileItem {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding-bottom: 250px;
        font-size: 30px;
        text-align: center;
      }
