<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Doctor</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="assets/stylesheets/side_menu.css">
    <link rel="stylesheet" href="assets/stylesheets/index.css">
    <link rel="stylesheet" src="assets/icons/fa/css/all.css">
    <script type="text/javascript" href="scripts/openSide.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <header class = "header">
            <div class="topnav">
                <div class="main_logo">

                    {{#if (equalString "Patient" user.role)}}
                        <h1>Sugar Doctor <p>hia</p></h1> 

                                        
                    {{else if (equalString "Clinician" user.role)}}
                        <h1>Sugar Doctor</h1>
                        <p><a href="/hardData">Dashboard</a> <a href="/aboutDiabetes">About Diabetes</a></p>
                    {{else}} 
                        <p>Sugar Doctor <a href="/aboutDiabetes"> About Diabetes</a> <a href="/aboutTeam"> Meet the team</a> <a href="/login"> Login</a></p>
                    {{/if}}
                    
                </div>
                <div class="topnav-left">  
                </div>
            </div>
        
            <div id="category" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              </div>
        </header>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <p>an INFO30005 project</p>
    </footer>
</body>
</html>