<body>
    <h1>Sugar Doctor Development Team</h1>
    <div class="profileContainer">
        <div class="polaroid">
            <div class="containerImage">
                <img src="kooshaowji.jpg" alt="KooshaOwji" class="image">
                <div class="overlay">
                  <div class="text">Koosha Owji</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="AadityaaGupta.jpg" alt="AadityaaGupta" class="image">
                <div class="overlay">
                  <div class="text">Aadityaa Gupta</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="public/assets/LiamPattison.jpg" alt="LiamPattison" class="image">
                
                <div class="overlay">
                  <div class="text">Liam Pattison</div>
                </div>
              </div>
        </div> 
        <div class="polaroid">
            <div class="containerImage">
                <img src="JustinBie.jpg" alt="JustinBie" class="image">
                <div class="overlay">
                  <div class="text">Justin Bie</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="VittorioDarrelJusanto.jpg" alt="VittorioDarrelJusanto" class="image">
                <div class="overlay">
                  <div class="text">Vittorio Darrel Jusanto</div>
                </div>
              </div>
        </div>
      </div>    
</body>
<img src="../public/assets/LiamPattison.jpg" alt="LiamPattison" class="image">
</html>
