<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="assets/stylesheets/AboutPages.css">
</head>
<body>
    <br><h2><font size="+4"></font>Sugar Doctor Development Team</h2>
    <div class="profileContainer">
        <div class="polaroid">
            <div class="containerImage">
                <img src="images/kooshaowji.jpg" alt="KooshaOwji" class="image">
                <div class="overlay">
                  <div class="text">Koosha Owji</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="images/AadityaaGupta.jpg" alt="AadityaaGupta" class="image">
                <div class="overlay">
                  <div class="text">Aadityaa Gupta</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="images/LiamPattison.jpg" alt="LiamPattison" class="image">
                
                <div class="overlay">
                  <div class="text">Liam Pattison</div>
                </div>
              </div>
        </div> 
        <div class="polaroid">
            <div class="containerImage">
                <img src="images/JustinBie.jpg" alt="JustinBie" class="image">
                <div class="overlay">
                  <div class="text">Justin Bie</div>
                </div>
              </div>
        </div>
        <div class="polaroid">
            <div class="containerImage">
                <img src="images/VittorioDarrelJusanto.jpg" alt="VittorioDarrelJusanto" class="image">
                <div class="overlay">
                  <div class="text">Vittorio<br>Darrel Jusanto</div>
                </div>
              </div>
        </div>
      </div>    
</body>
</html>
