<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="assets/stylesheets/AboutPages.css">
</head>
<body>
      <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wZAjVQWbMlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
        <h1> <font size="+2"> <b>What is Diabetes?</b></font></h1> <br>
        <p> Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy.
            Most of the food you eat is broken down into sugar (also called glucose) and released into your bloodstream. When your blood sugar goes up, it signals your pancreas to release insulin. Insulin acts like a key to let the blood sugar into your body’s cells for use as energy.
            If you have diabetes, your body either doesn’t make enough insulin or can’t use the insulin it makes as well as it should. When there isn’t enough insulin or cells stop responding to insulin, too much blood sugar stays in your bloodstream. Over time, that can cause serious health problems, such as heart disease, vision loss, and kidney disease.
            There isn’t a cure yet for diabetes, but losing weight, eating healthy food, and being active can really help. Taking medicine as needed, getting diabetes self-management education and support, and keeping health care appointments can also reduce the impact of diabetes on your life.
        </p>
        <br>
            
            <h1> <font size="+2"> <b>What are the different types of diabetes?</b></font></h1> <br>
            <p>There are different types of diabetes; all types are complex and serious. The three main types of diabetes are type 1, type 2 and gestational diabetes. Less common types include monogenic diabetes, which is an inherited form of diabetes, and cystic fibrosis-related diabetes.
            </p> <br>
            <h1> <font size="+2"> <b>When should you watch out for diabetes?</b></font></h1> <br>
            <p>In type 1 diabetes, symptoms are often sudden and can be life-threatening; therefore it is usually diagnosed quite quickly. In type 2 diabetes, many people have no symptoms at all, while other signs can go unnoticed being seen as part of ‘getting older’.
                Therefore, by the time symptoms are noticed, complications of diabetes may already be present.
            </p><br>
            <h1> <font size="+2">Common symptoms include:</font></h1>
            <ul>
                <li>Being more thirsty than usual</li>
                <li>Passing more urine</li>
                <li>Feeling tired and lethargic</li>
                <li>Always feeling hungry</li>
                <li>Having cuts that heal slowly</li>
                <li>Itching, skin infections</li>
                <li>Blurred vision</li>
                <li>Unexplained weight loss (type 1)</li>
                <li>Gradually putting on weight (type 2)</li>
                <li>Mood swings</li>
                <li>Headaches</li>
                <li>Feeling dizzy</li>
                <li>Leg cramps</li>
            </ul> <br>   

                <font size="+2">
                Note: This information is of a general nature only and should not be substituted for medical advice or used to alter medical therapy. It does not replace consultations with qualified healthcare professionals to meet your individual medical needs.
                </font> <br> <br>

            <h1> <font size="+2"> <b>How serious is diabetes?</b></font></h1> <br>
            <p>Diabetes can be managed well but the potential complications are the same for type 1 and type 2 diabetes including heart attack, stroke, kidney disease, limb amputation, depression, anxiety and blindness.</p>
            <br> <br>
            <h1> <font size="+2"> <b>We know diabetes:</b></font></h1> <br>
            <ul>
                <li>Is the leading cause of blindness in working age adults</li>
                <li>Is a leading cause of kidney failure and dialysis</li>
                <li>Increases the risk of heart attacks and stroke by up to four times</li>
                <li>Is a major cause of limb amputations</li>
                <li>Affects mental health as well as physical health. Depression, anxiety and distress occur in more than 30% of all people with diabetes</li>
                <li>Dental disease</li>
                <li>Nerve damage</li>
                <li>Foot problems</li>
            </ul>
             <br> <br><h1> <font size="+2"> <b>Early diagnosis, optimal treatment and effective ongoing support and management reduce the risk of diabetes-related complications.</b></font></h1> <br><br> <br>
      </div>    
</body>
</html>
