<main class ="content">
  <h1>Sugar Doctor</h1>
  <p>Welcome Dr!</p>

  <h2>Functions</h2>
  <div class="container">
    <div class = "box">
      <a>Register Patient</a>
      <form action="/clinicianFunctionality" method="post">
        <input type="text" placeholder="First Name" name="firstName" />
        <input type="text" placeholder="Last Name" name="lastName" />
        <input type="text" placeholder="Username" name="username" />
        <input type="text" placeholder="Password" name="password" />
        <input type="hidden" value={{user._id}} name="clinicianId" />
        <input type="Submit" />       
      </form>
</main>