<main class ="content">
  <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>

  <h2>Functions</h2>
  <div class="container">
    <div class = "box">
      <a>Register Patient</a>
      <form action="/clinicianFunctionality" method="post">
        <input type="text" placeholder="First Name" name="firstName" />
        <input type="text" placeholder="Last Name" name="lastName" />
        <input type="text" placeholder="Username" name="username" />
        <input type="text" placeholder="Password" name="password" />
        <input type = "hidden" name = "clinicianId" value = {{user._id}} />

      <p>Tick the checkboxes of time-series you want the patient to record</p>
      <div>
          <input type="checkbox" name="exerciseRequired"/>
          <label>Exercise</label>
          <input type="Number" placeholder="Exercise lower threshold" name="exerciseLower"/>
          <input type="Number" placeholder="Exercise upper threshold" name="exerciseUpper"/>
      </div>

      <div>
          <input type="checkbox" name="glucoseRequired"/>
          <label>Glucose</label>
          <input type="Number" placeholder="Glucose lower threshold" name="glucoseLower"/>
          <input type="Number" placeholder="Glucose upper threshold" name="glucoseUpper"/>
      </div>

      <div>
          <input type="checkbox" name="insulinRequired"/>
          <label>Insulin</label>
          <input type="Number" placeholder="Insulin lower threshold" name="insulinLower"/>
          <input type="Number" placeholder="Insulin upper threshold" name="insulinUpper"/>
      </div>

      <div>
          <input type="checkbox" name="weightRequired"/>
          <label>Weight</label>
          <input type="Number" placeholder="Weight lower threshold" name="weightLower"/>
          <input type="Number" placeholder="Weight upper threshold" name="weightUpper"/>
      </div>

        <input type="Submit" />       
      </form>
    </div>
  </div>
