<main class ="content">
  <h1>Sugar Doctor</h1>
  <p>Welcome Dr!</p>

  <h2>Functions</h2>
  <div class="container">
    <div class = "box">
      <a>Register Patient</a>
      <form action="/clinicianFunctionality" method="post">
        <input type="text" placeholder="First Name" name="firstName" />
        <input type="text" placeholder="Last Name" name="lastName" />
        <input type="text" placeholder="Username" name="username" />
        <input type="text" placeholder="Password" name="password" />
        <input type="Submit" />       
      </form>
    </div>
  </div>

  <div class="container">
    <div class = "box">
        <a>Write a note</a>
        <form action="/patient-home" method="post">
            <input type="text" placeholder="patientId" name="patientId" />
            <input type="text" placeholder="clinicianId" name="clinicianId" />
            <input type="text" placeholder="note" name="noteContent" />
            <input type = "hidden" name = "dataType" value = "note" />
            <input type="Submit" />
        </form>
    </div>
  </div>
</main>