<main class ="content">
  <h1>Welcome {{user.firstName}} {{user.lastName}}</h1>

  <h2>Functions</h2>
  <div class="container">
    <div class = "box">
      <a>Register Patient</a>
      <form action="/clinicianFunctionality" method="post">
        <input type="text" placeholder="First Name" name="firstName" />
        <input type="text" placeholder="Last Name" name="lastName" />
        <input type="text" placeholder="Username" name="username" />
        <input type="text" placeholder="Password" name="password" />
        <input type = "hidden" name = "clinicianId" value = {{user._id}} />
        <input type="Submit" />       
      </form>
    </div>
  </div>

  <div class="container">
    <div class = "box">
        <a>Write a note</a>
        <form action="/clinicianFunctionality" method="post">
            <input type="text" placeholder="patientUsername" name="username" />
            <input type="text" placeholder="note" name="content" />
            <input type = "hidden" name = "clinicianId" value = {{user._id}} />
            <input type="Submit" />
        </form>
    </div>
  </div>
</main>