

<main>
    <h1>Welcome to the Leaderboard!</h1>
    
    <ol>
        {{#each data}} 
        <li>
            <p>{{this.username}} {{getEngRate this._id this.dateRegistered}} </p>
        </li>
        {{/each}}
    </ol>
</main>