<body>
    <h1>test</h1>
    {{#with data}}
        {{this.firstName}}
        {{#if this.glucoseRequired}}
            <p>Bllod glucose required</p>
        {{else}}
            <p>not required</p>
        {{/if}}
        {{#if this.wightRequired}}
            <p>Weight required</p>
        {{else}}
            <p>Weight not required</p>
        {{/if}}
    {{/with}}
    
</body>