
<div class="container">
    <div class = "box">
        <a>Write a note</a>
        <form action="/patient-home" method="post">
            <input type="text" placeholder="patientId" name="patientId" />
            <input type="text" placeholder="clinicianId" name="clinicianId" />
            <input type="text" placeholder="content" name="content" />
            <input type="Submit" />
        </form>
    </div>
</div>