<div>
    <h2>Log In</h2>
    <form action="/login" method="get" > 
        <h4>Username</h4>
        <input type="text" placeholder="username" name="username"/>
        <h4>Password</h4>
        <input type="text" placeholder="password" name="password"/>
        <input type="Submit" placeholder="Log In"/>
    </form>
</div>