{{#each data}}
        <h1>Hi {{this.first_name}}</h1>
        <div>
            <h3>Blood Glucose</h3>
            {{#if this.glucose_today}}
                <p>{{this.glucose}}</p>
            {{else}}
                <form action="/glucose/addGlucose" method="post">
                    <h3>Blood Glucose</h3>
                    <input type="Number" placeholder="Blood glucose level" name="glucoseLevel" />
                    <input type="text" placeholder="Comment" name="glucoseComment" />
                    <input type="submit" />
                </form>
            {{/if}}
        </div>
 {{/each}}

 
