<h2>Hi Liam</h2>

{{#each data}}
        <div>
            <h3>Blood Glucose</h3>
            {{#if (subToday this.glucoseLevel) }}

                <p>{{this.glucoseLevel}}</p>
            {{else}}
                <form action="/patient-home" method="post">
                    <input type="Number" placeholder="Blood glucose level" name="glucoseLevel" />
                    <input type="text" placeholder="Comment" name="glucoseComment" />
                    <input type="Submit" />
                   
                </form>
            {{/if}}
        </div>
 {{/each}}

 
