<div>
    <h2>Register a new patient</h2>
    <form action="/registerPatient.hbs" method="post" >
        <input tpe="Text" placeholder="First name" name="firstName"/>
        <input tpe="Text" placeholder="Last name" name="lastName"/>
        <input tpe="Text" placeholder="Username" name="username"/>
        <input tpe="Text" placeholder="FiPassword" name="password"/>
        <input tpe="Text" placeholder="First name" name="firstName"/>
        <input tpe="Text" placeholder="First name" name="firstName"/>
        <input type="Submit"/>
        

    </form>
</div>