.container_main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: #F4F4F4;
}

.row_containers {
    display: block;
    width: 90%;
    margin: auto;
}

.patient_rows {
    background-color: white;
    border-radius: 15px;
    width: 100%;
}