<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Doctor</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="/assets/stylesheets/index.css">
    <link rel="stylesheet" href="/assets/icons/fa/css/all.css">
    <script type="text/javascript" src="/assets/scripts/openSide.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <header class = "header">
            <div class="topnav">
                <i class="fas fa-bars" onclick="openSide()"></i>
                <a class="main_logo" href="main.hbs">Sugar Doctor</a>  
            </div>
        
            <div id="category" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeSide()">&times;</a>
                <h1>something</h1>
            </div>
        </header>
    </header>

    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <p>an INFO30005 project</p>
    </footer>
</body>
</html>